[Unit]
Description=Update Route53 DNS record with current public IP
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/etc/box/services/box-dns-updater
ExecStart=/nix/var/nix/profiles/default/bin/nix develop /etc/box/nix#deno --command deno run --allow-net --allow-env --allow-read --env-file src/main.ts

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
