---
- name: restart ssh
  service:
    name: ssh
    state: restarted

- name: restart fail2ban
  service:
    name: fail2ban
    state: restarted

- name: restart journald
  service:
    name: systemd-journald
    state: restarted

- name: remount proc
  command: mount -o remount /proc

- name: restart logind
  service:
    name: systemd-logind
    state: restarted
